
button.rainbow {
  position: relative;
  border: var(--button-border-width) solid black;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: transparent;
}

button.rainbow::before {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 14%,
    rgba(255, 134, 0, 1) 14%,
    rgba(255, 134, 0, 1) 28.5%,
    rgba(247, 255, 0, 1) 28.5%,
    rgba(247, 255, 0, 1) 42.85%,
    rgba(0, 255, 18, 1) 42.85%,
    rgba(0, 255, 18, 1) 57.14%,
    rgba(0, 73, 247, 1) 57.14%,
    rgba(0, 73, 247, 1) 71.42%,
    rgba(0, 1, 103, 1) 71.42%,
    rgba(0, 1, 103, 1) 85.71%,
    rgba(134, 0, 255, 1) 85.71%,
    rgba(134, 0, 255, 1) 100%
  );

  transition: all 1s;
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 2 * var(--button-border-width));
  height: calc(100% + 2 * var(--button-border-width));
  border-radius: var(--button-radius);
  opacity: 0;
  z-index: -1;
}

button.rainbow:hover::before {
  opacity: 1;
}
