/* button specific settings where the class is set to "rainbow" */
button.rainbow {
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius-outer);
  background-color: white;

  /* the button needs to be visible
     eg: need to be on top and see the black border and text */
  z-index: 1;
  opacity: 1;
}

button.rainbow::before {
  /* handle opacity and transition
     the rainbow background starts invisible */
  transition: opacity 1s;
  opacity: 0;

  /* and ensure the rainbow background sits behind the button text and border */
  z-index: -1;

  /* fit the inner dimensions */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--button-radius-inner);

  /* Rainbow */
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 14%,
    rgba(255, 134, 0, 1) 14%,
    rgba(255, 134, 0, 1) 28.5%,
    rgba(247, 255, 0, 1) 28.5%,
    rgba(247, 255, 0, 1) 42.85%,
    rgba(0, 255, 18, 1) 42.85%,
    rgba(0, 255, 18, 1) 57.14%,
    rgba(0, 73, 247, 1) 57.14%,
    rgba(0, 73, 247, 1) 71.42%,
    rgba(0, 1, 103, 1) 71.42%,
    rgba(0, 1, 103, 1) 85.71%,
    rgba(134, 0, 255, 1) 85.71%,
    rgba(134, 0, 255, 1) 100%
  );
}

/* transition the opacity of the rainbow to "fully opaque" when you mouse over */
button.rainbow:hover::before {
  opacity: 1;
}
