:root {
  --duration: 5s;
  --delay: 0s;
  --step-hold: 0.25;
  --step-count: 5;

  --button-width: 200px;
  --button-height: 70px;
  --button-radius: 1rem;
  --button-border-width: 3px;

  /* Added for rainbow button effect v2 */
  --button-radius-outer: 12px;
  --button-border-width: 3px;
  --button-radius-inner: calc(
    var(--button-radius-outer) - var(--button-border-width)
  );
}

button {
  margin: 1rem;
  font-size: 1rem;
  width: var(--button-width);
  height: var(--button-height);
  transition: 250ms font-size, 250ms text-shadow;
  border-radius: var(--button-radius-outer);
  border: var(--button-border-width) solid black;
}

button:hover {
  font-weight: bold;
  font-size: 1.7rem;
  color: #fff;
  text-shadow: #000 0 0 2px, #000 0 0 5px, #000 0 0 10px;
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(80vw - 100%));
  }
}

.start-and-end {
  border-left: 5px solid var(--c1-dark);
  border-right: 5px solid var(--c1-dark);
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
}

.box-small {
  width: 50px;
  height: 50px;

  background: var(--c2-light);
  border-radius: 1rem;
  color: var(--c1-dark);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.translate {
  animation: none var(--duration) infinite var(--direction, alternate)
    var(--ease-function, steps(var(--step-count), var(--jump-term)));
  animation-name: move-right;
}

.steps {
  background-color: var(--c1-dark);
}

#heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.individual {
  transition-property: font-size;
  transition-duration: 3s;
  transition-timing-function: linear;
  transition-delay: 1s;
}
.individual:hover {
  font-size: 1.6rem;
  color: var(--c1-light);
}

.ball {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background: #c00;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
  z-index: 100;
}

.multiple {
  /* transition: width 0.5s, height 2s, background-color 2s steps(5, end) !important; */
}
.multiple:hover {
  background-color: var(--c2-dark);
  width: 150px;
  height: 150px;
  rotate: 180deg;
}

/* Using CSS variables to modify jump term or easing function */
#steps-jump-start {
  --jump-term: jump-start;
}

#steps-jump-end {
  --jump-term: jump-end;
}

#steps-jump-none {
  --jump-term: jump-none;
}

#steps-jump-both {
  --jump-term: jump-both;
}

#steps-start {
  --jump-term: start;
}

#steps-end {
  --jump-term: end;
}

#linear {
  --ease-function: linear;
}

#ease {
  --ease-function: ease;
}

#ease-in {
  --ease-function: ease-in;
}

#ease-out {
  --ease-function: ease-out;
}

#ease-in-out {
  --ease-function: ease-in-out;
}

#cubic-bezier {
  --ease-function: cubic-bezier(0.25, -0.25, 0.75, 1.25);
}
