/* Style */
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: ScopeOne;
  src: url(../fonts/Scope_One/ScopeOne-Regular.ttf);
}

:root {
  --c-dark: #070d0c;
  --c1-dark: #2a403a;
  --c1-light: #5d8c56;
  --c2-dark: #8c4a23;
  --c2-light: #f26835;
}

body {
  font: 2rem "ScopeOne", serif;
  background: var(--c-dark);
  color: var(--c1-light);
  padding: 50px;
}

/* General Attributes */
.box {
  width: 250px;
  height: 250px;
  background: var(--c2-light);
  border-radius: 2rem;
  color: var(--c1-dark);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marktop {
  border-top: 2rem solid var(--c2-dark);
}

/* EXAMPLE: Two Dimensional Transforms */
.example-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 4rem;
}

.two-dimensional-transforms > .rotate-by-deg {
  transform: rotate(45deg);
}

.two-dimensional-transforms > .rotate-by-rad {
  transform: rotate(-1rad);
}

.two-dimensional-transforms > .rotate-by-turn {
  transform: rotate(0.5turn);
}

/* EXAMPLE: Scale */
.scale-x {
  transform: scaleX(1.25);
}
.scale-y {
  transform: scaleY(0.25);
}
.scale-xy {
}
.scale {
}
