/* Example: Chaining Transforms */
.chain1:hover {
  transform: skewX(15deg) skewY(15deg);
}

.chain2:hover {
  transform: rotate(45deg) skew(-15deg) scale(0.75) translate(100px, -100px);
}

.chain3:hover {
  transform: translate(100px, -100px) scale(0.75) skew(-15deg) rotate(45deg);
}
