/* matrix(scaleX, skewY, skewX, scaleY, translateX, translateY) */
.matrix1:hover {
  transform: matrix(1.25, 0, 0, 0.75, 0, 0);
}
.matrix2:hover {
  transform: matrix(1, 0.5, 0.25, 1, 0, 0);
}
.matrix3:hover {
  transform: matrix(1, 0, 0, 1, -100, 200);
}

.matrix-option1 {
  transform: scale(0.75) rotate(45deg);
  transition: none;
}
