/* Style */
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: ScopeOne;
  src: url(../fonts/Scope_One/ScopeOne-Regular.ttf);
}

:root {
  --c-bg: #0d0d0d;
  --c-fg: #cdcdcd;
  --c1-dark: #3d403a;
  --c1-light: #888c81;
  --c2-dark: #d9c9ba;
  --c2-light: #f2efeb;
}

body {
  font: 1rem "ScopeOne", serif;
  background: var(--c-bg);
  color: var(--c1-light);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* General Attributes */
.box {
  width: 250px;
  height: 250px;
  background: var(--c2-light);
  border-radius: 2rem;
  color: var(--c1-dark);
  transition: all 0.75s ease;
}

.camera {
  /* perspective: 600px; */
  perspective: 37.5rem; /* Assuming 1rem = 16px; <-- 600px */
  /* perspective-origin: top left; */
  /* transform-style: preserve-3d; */
}

.camera-far {
  perspective: 1200px; /* Assuming 1rem = 16px; <-- 600px */
  transition: all 0.75s ease;

  /* perspective-origin: top left; */
  /* transform-style: preserve-3d; */
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marktop {
  border-top: 2rem solid var(--c2-dark);
}

.example-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

p {
  font: 1rem "ScopeOne", serif;
  padding: 1rem;
  max-width: 50vw;
}

h1 {
  font: 3rem "Nunito", sans;
  font-weight: bold;
}

h3 {
  font: 1.5rem "Nunito", sans;
  margin-bottom: 1rem;
}
